# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project specific ignores
Debug/
Release/
*.tags
VariadicTypelists.txt
*.workspace.*
*_wsp.mk
